<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Training center</title>
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
    {{>topheader}}
    {{>header}}
    {{>menu}}
    <div class="body">
        <h1 class="SectionTitle" >Courses Available</h1>
        <div class="row">
            <div class="cell">
                <a href="https://en.wikipedia.org/wiki/Katrina_Kaif" target="_blank">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Katrina_Kaif_promoting_Bharat_in_2019.jpg/330px-Katrina_Kaif_promoting_Bharat_in_2019.jpg">
                </a>
                <span>Katrina Kaif</span>
            </div>
            <div class="cell">
                <a href="https://en.wikipedia.org/wiki/Sunny_Leone" target="_blank">
                    <img src="http://t0.gstatic.com/licensed-image?q=tbn:ANd9GcQx2l-zi04d_dLI9jXKrX2H_mWLwY_IA9J_Rprqc_IoZUyuUo-8CHzLZUXTfcP3Bpbenf04EJ8SpY3elbY"/>
                </a>
            </div>
            <div class="cell">
                <a href="https://en.wikipedia.org/wiki/Sunny_Leone" target="_blank">
                <img src="https://images.news18.com/ibnlive/uploads/2012/04/sep8kajal_agarwal.jpg?im=FitAndFill,width=1200,height=675">
                </a>
            </div>
            <div class="cell">
                <a href="#">
                    <img src="https://karnatakastateopenuniversity.in/wp-content/uploads/2022/11/Dani-Deniels-Wiki.jpg">
                </a>
            </div>
        </div>
        
        <div class="row">
            <div class="cell">
                <a href="https://en.wikipedia.org/wiki/Katrina_Kaif" target="_blank">
                    <img src="https://karnatakastateopenuniversity.in/wp-content/uploads/2022/07/Pooja-Hegde.jpg">
                </a>
            </div>
            <div class="cell">
                <a href="#">
                    <img src="https://yt3.googleusercontent.com/7eeiv-nSirEYbeBCdApZQq3NV__b4Rj7YexJFiWtb2rAnqsab88nS6NC6vDTxdqIcBZdSIzL=s900-c-k-c0x00ffffff-no-rj">
                </a>
            </div>
            <div class="cell"> 
                <a href="#">
                    <img src="https://images.news18.com/ibnlive/uploads/2012/04/sep8kajal_agarwal.jpg?im=FitAndFill,width=1200,height=675">
                </a>
            </div>
            <div class="cell">
                <a href="#">
                    <img src="https://karnatakastateopenuniversity.in/wp-content/uploads/2022/11/Dani-Deniels-Wiki.jpg">
                </a>
            </div>
        </div>

        <div class="row">
            <div class="cell"> 
                <a href="#">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Katrina_Kaif_promoting_Bharat_in_2019.jpg/330px-Katrina_Kaif_promoting_Bharat_in_2019.jpg">
                </a>
            </div>
            <div class="cell">
                <a href="#">
                    <img src="https://yt3.googleusercontent.com/7eeiv-nSirEYbeBCdApZQq3NV__b4Rj7YexJFiWtb2rAnqsab88nS6NC6vDTxdqIcBZdSIzL=s900-c-k-c0x00ffffff-no-rj">
                </a>
            </div>
            <div class="cell"> 
                <a href="#">
                    <img src="https://images.news18.com/ibnlive/uploads/2012/04/sep8kajal_agarwal.jpg?im=FitAndFill,width=1200,height=675">
                </a>
            </div>
            <div class="cell">
                <a href="#">
                    <img src="https://karnatakastateopenuniversity.in/wp-content/uploads/2022/11/Dani-Deniels-Wiki.jpg">
                </a>
            </div>
        </div>

        <div class="row">
            <div class="cell"> 
                <a href="#">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Katrina_Kaif_promoting_Bharat_in_2019.jpg/330px-Katrina_Kaif_promoting_Bharat_in_2019.jpg">
                </a>
            </div>
            <div class="cell">
                <a href="#">
                    <img src="https://yt3.googleusercontent.com/7eeiv-nSirEYbeBCdApZQq3NV__b4Rj7YexJFiWtb2rAnqsab88nS6NC6vDTxdqIcBZdSIzL=s900-c-k-c0x00ffffff-no-rj">
                </a>
            </div>
            <div class="cell"> 
                <a href="#">
                    <img src="https://images.news18.com/ibnlive/uploads/2012/04/sep8kajal_agarwal.jpg?im=FitAndFill,width=1200,height=675">
                </a>
            </div>
            <div class="cell">
                <a href="#">
                    <img src="https://karnatakastateopenuniversity.in/wp-content/uploads/2022/11/Dani-Deniels-Wiki.jpg">
                </a>
            </div>
        </div>
    </div> 

    <br/>
    <hr/>
    <br/>
    {{>successmilestones}}
    <br/>
    <hr/>
    <br/>
    
    <br/><br/>
    {{>about}}
    {{>footer}}
</body>
</html>