
    <h1 class="SectionTitle" >About</h1>
    <br/>
    <div class="about">
        <p>This is the best begginer site to build with html css and javascript knowledge only without any frameworks like react or native and did not used any advanced concepts like jquery or ajax</p>
        <p>Learn some other concepts and try to rebuild this site with necessary refactoring with frontend advanced concepts</p>
        <p>Add backend and database to this project and host it in the cloud</p>
    </div>