
<div class="header">
        <div class="logo">
            <img src="https://logos-world.net/wp-content/uploads/2021/10/Pornhub-Symbol.png">
        </div>
        <div class="author" >
            <span style="font-size:40px; padding-left:10px; padding-top:25px; color:green;">Telugu Celebrity Details</span>
        </div>
        <div class="login" >
            <a name="login" href="/login">Login</a>
        </div>
    </div>