
<h1 class="SectionTitle" >Success Milestones</h1>
    <div class="milestoneDescription">
        <marquee>
            <a href="https://en.wikipedia.org/wiki/Anushka_Shetty" target="_blank"><img src="https://www.pinkvilla.com/imageresize/anushka_shetty_exclusive_update.jpg?width=752&t=pvorg"></a>
            <img src="https://stylesatlife.com/wp-content/uploads/2022/03/Tollywood-Actress-Sreeleela-hot.jpg.webp">
            <img src="https://w0.peakpx.com/wallpaper/1005/548/HD-wallpaper-priyanka-sreekaram-heroine.jpg">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1xfLp7bnyVdNST6X_UFnFFbv2Mmmys38WeowZfT8X&s">
            <img src="https://e0.pxfuel.com/wallpapers/583/593/desktop-wallpaper-divi-prasanna-posters-109-tollywood-heroines-for-your-mobile-tablet-explore-tollywood-actress-tollywood-actress-actress-actress-telugu-heroines.jpg">
            <img src="https://i.pinimg.com/736x/71/10/c5/7110c5e610e146613f19839fddb3a709.jpg">
            <img src="https://i.pinimg.com/736x/b1/fd/b6/b1fdb6b81b0023101f10bd89260143e1.jpg">
            <img src="https://i.pinimg.com/236x/4d/eb/ba/4debbafc78a21378a0225c702543cf9b.jpg">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShAwD_ZKSQdAOROGtJ3_T5B_Peli9vRaMIp1AY8ntAwhcbmdicIK1zStK223oGQ5Y3q3c&usqp=CAU">
        </marquee>
    </div>